<!DOCTYPE html>
<html>
<head>
  <title>Freshdesk service</title>
  <%= stylesheet_link_tag    "freshdesk_service/application", media: "all" %>
  <%= javascript_include_tag "freshdesk_service/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
